
*{  margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    font-size: 16px;
    line-height: 1.5;
}
p {
    font-size: 1rem;
}
h1{
    font-size: 3rem;
}

.navbar {
    font-size: 1.5rem;
    font-weight: 700;
    min-height: 3rem;
    background-color: #a3080c;

    &-brand {
        text-decoration: none;
        color: #fff1e2;
    }
    &-inner {
        @media screen and (max-width: 24rem){
            flex-direction: column;
        }

        flex-direction: row;
        display: flex;
        margin-top: 0.3rem;
        justify-content: space-between;
        align-items: center;
    }
}
.nav {
    &-link {
        text-decoration: none;
        color: #fff1e2;

        &:hover{
            text-decoration: underline;
        }
        
    }
    &-item{
        padding-left: 1rem;
    }

    @media screen and (max-width: 24rem){
        flex-direction: column;}
    display: flex;
    list-style: none;
}